@model SystemSzwajcarski.Models.User
<h1>Rejstracja</h1>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.ValidationSummary();
    <span>Imie: </span>@Html.TextBoxFor(x => x.Name)
    <span>Nazwisko: </span>@Html.TextBoxFor(x => x.LastName)
    <span>Login: </span>@Html.TextBoxFor(x => x.Login)
    <span>Email: </span>@Html.TextBoxFor(x => x.Email)
    <span>Organizator: </span>@Html.CheckBoxFor(x => x.Organizer,true)
    <span>Gracz: </span>@Html.CheckBoxFor(x => x.Player,true)
    <span>Hasło: </span>@Html.PasswordFor(x => x.Password)
    <button type="submit">Rejstracja</button>
}
