@model SystemSzwajcarski.Models.PlayerAdd
<h1>Tworzenie zawodnika</h1>

@using (Html.BeginForm("AddPlayer", "Players", FormMethod.Post))
{
    @Html.ValidationSummary();
    <span>Imie: </span>@Html.TextBoxFor(x => x.Name)
    <span>Nazwisko: </span>@Html.TextBoxFor(x => x.LastName)
    <span>Ranking: </span>@Html.TextBoxFor(x => x.Ranking)
    <span>Login: </span>@Html.TextBoxFor(x => x.Login)
    <span>Email: </span>@Html.TextBoxFor(x => x.Email)
    <span>Hasło: </span>@Html.PasswordFor(x => x.Password)
    <button type="submit">Rejstracja</button>
}

